<a href="https://colab.research.google.com/github/alizmarossy/FAKT_ML/blob/main/FAKT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

import numpy as np
import pandas as pd
from  matplotlib import pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")
import warnings
from random import choice, randint
from string import ascii_uppercase
from termcolor import colored

In [ ]:
df = pd.read_csv("http://www.attilamarossy.com/data/survey_results_public.xlsx")

# EDA (Exploratory Data Analysis)

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape

(83439, 48)

In [ ]:
len(df)

83439

In [ ]:
df.shape[0]

83439

In [ ]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [ ]:
df.head(3).T

,0,1,2
ResponseId,1,2,3
MainBranch,I am a developer by profession,I am a student who is learning to code,"I am not primarily a developer, but I write co..."
Employment,"Independent contractor, freelancer, or self-em...","Student, full-time","Student, full-time"
Country,Slovakia,Netherlands,Russian Federation
US_State,NaN,NaN,NaN
UK_Country,NaN,NaN,NaN
EdLevel,"Secondary school (e.g. American high school, G...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)"
Age1stCode,18 - 24 years,11 - 17 years,11 - 17 years
LearnCode,Coding Bootcamp;Other online resources (ex: vi...,"Other online resources (ex: videos, blogs, etc...","Other online resources (ex: videos, blogs, etc..."
YearsCode,NaN,7,NaN
YearsCodePro,NaN,NaN,NaN
DevType,"Developer, mobile",NaN,NaN
OrgSize,20 to 99 employees,NaN,NaN
Currency,EUR European Euro,NaN,NaN
CompTotal,4800.0,NaN,NaN
CompFreq,Monthly,NaN,NaN
LanguageHaveWorkedWith,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,JavaScript;Python,Assembly;C;Python;R;Rust
LanguageWantToWorkWith,Swift,NaN,Julia;Python;Rust
DatabaseHaveWorkedWith,PostgreSQL;SQLite,PostgreSQL,SQLite
DatabaseWantToWorkWith,SQLite,NaN,SQLite
PlatformHaveWorkedWith,NaN,NaN,Heroku
PlatformWantToWorkWith,NaN,NaN,NaN
WebframeHaveWorkedWith,Laravel;Symfony,Angular;Flask;Vue.js,Flask
WebframeWantToWorkWith,NaN,NaN,Flask
MiscTechHaveWorkedWith,NaN,Cordova,NumPy;Pandas;TensorFlow;Torch/PyTorch
MiscTechWantToWorkWith,NaN,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch
ToolsTechHaveWorkedWith,NaN,Docker;Git;Yarn,NaN
ToolsTechWantToWorkWith,NaN,Git,NaN
NEWCollabToolsHaveWorkedWith,PHPStorm;Xcode,Android Studio;IntelliJ;Notepad++;PyCharm,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...
NEWCollabToolsWantToWorkWith,Atom;Xcode,NaN,IPython/Jupyter;RStudio;Sublime Text;Visual St...
OpSys,MacOS,Windows,MacOS
NEWStuck,Call a coworker or friend;Visit Stack Overflow...,Visit Stack Overflow;Google it,Visit Stack Overflow;Google it;Watch help / tu...
NEWSOSites,Stack Overflow,Stack Overflow,Stack Overflow;Stack Exchange
SOVisitFreq,Multiple times per day,Daily or almost daily,Multiple times per day
SOAccount,Yes,Yes,Yes
SOPartFreq,A few times per month or weekly,Daily or almost daily,Multiple times per day
SOComm,"Yes, definitely","Yes, definitely","Yes, definitely"
NEWOtherComms,No,No,Yes
Age,25-34 years old,18-24 years old,18-24 years old
Gender,Man,Man,Man
Trans,No,No,No
Sexuality,Straight / Heterosexual,Straight / Heterosexual,Prefer not to say
Ethnicity,White or of European descent,White or of European descent,Prefer not to say
Accessibility,None of the above,None of the above,None of the above
MentalHealth,None of the above,None of the above,None of the above
SurveyLength,Appropriate in length,Appropriate in length,Appropriate in length
SurveyEase,Easy,Easy,Easy
ConvertedCompYearly,62268.0,NaN,NaN

#### Adattípusok ellenőrzése

In [ ]:
df.dtypes

ResponseId                        int64
MainBranch                       object
Employment                       object
Country                          object
US_State                         object
UK_Country                       object
EdLevel                          object
Age1stCode                       object
LearnCode                        object
YearsCode                        object
YearsCodePro                     object
DevType                          object
OrgSize                          object
Currency                         object
CompTotal                       float64
CompFreq                         object
LanguageHaveWorkedWith           object
LanguageWantToWorkWith           object
DatabaseHaveWorkedWith           object
DatabaseWantToWorkWith           object
PlatformHaveWorkedWith           object
PlatformWantToWorkWith           object
WebframeHaveWorkedWith           object
WebframeWantToWorkWith           object
MiscTechHaveWorkedWith           object
MiscTechWantToWorkWith           object
ToolsTechHaveWorkedWith          object
ToolsTechWantToWorkWith          object
NEWCollabToolsHaveWorkedWith     object
NEWCollabToolsWantToWorkWith     object
OpSys                            object
NEWStuck                         object
NEWSOSites                       object
SOVisitFreq                      object
SOAccount                        object
SOPartFreq                       object
SOComm                           object
NEWOtherComms                    object
Age                              object
Gender                           object
Trans                            object
Sexuality                        object
Ethnicity                        object
Accessibility                    object
MentalHealth                     object
SurveyLength                     object
SurveyEase                       object
ConvertedCompYearly             float64
dtype: object

In [ ]:
df.isna().sum().sum()

689972

In [ ]:
df.isna().sum().sort_values(ascending=False)

UK_Country                      79021
US_State                        68519
MiscTechWantToWorkWith          45418
PlatformWantToWorkWith          41820
ConvertedCompYearly             36595
MiscTechHaveWorkedWith          36384
CompTotal                       36256
WebframeWantToWorkWith          31344
PlatformHaveWorkedWith          31304
CompFreq                        31289
DatabaseWantToWorkWith          25140
OrgSize                         22713
Currency                        22359
YearsCodePro                    22223
WebframeHaveWorkedWith          21732
ToolsTechWantToWorkWith         17959
DevType                         16955
SOPartFreq                      15886
DatabaseHaveWorkedWith          13893
ToolsTechHaveWorkedWith         10902
NEWCollabToolsWantToWorkWith    10417
Sexuality                       10073
LanguageWantToWorkWith           6618
MentalHealth                     6519
Accessibility                    5836
Ethnicity                        3975
Trans                            2761
NEWCollabToolsHaveWorkedWith     2205
YearsCode                        1798
SurveyLength                     1728
SurveyEase                       1491
Gender                           1153
SOComm                           1120
LanguageHaveWorkedWith           1082
Age                              1032
SOVisitFreq                      1026
SOAccount                         914
NEWOtherComms                     611
LearnCode                         476
NEWStuck                          387
EdLevel                           313
NEWSOSites                        268
Age1stCode                        196
OpSys                             145
Employment                        116
MainBranch                          0
Country                             0
ResponseId                          0
dtype: int64

In [ ]:
df.ConvertedCompYearly.describe()

count    4.684400e+04
mean     1.184262e+05
std      5.272944e+05
min      1.000000e+00
25%      2.702500e+04
50%      5.621100e+04
75%      1.000000e+05
max      4.524131e+07
Name: ConvertedCompYearly, dtype: float64

#### Selecting columns

In [ ]:
df['Age'].head()

0    25-34 years old
1    18-24 years old
2    18-24 years old
3    35-44 years old
4    25-34 years old
Name: Age, dtype: object

In [ ]:
df[['Age', 'MainBranch']].head()

               Age                                         MainBranch
0  25-34 years old                     I am a developer by profession
1  18-24 years old             I am a student who is learning to code
2  18-24 years old  I am not primarily a developer, but I write co...
3  35-44 years old                     I am a developer by profession
4  25-34 years old                     I am a developer by profession

In [ ]:
df['Age'].value_counts()

25-34 years old       32568
18-24 years old       20993
35-44 years old       15183
45-54 years old        5472
Under 18 years old     5376
55-64 years old        1819
Prefer not to say       575
65 years or older       421
Name: Age, dtype: int64

In [ ]:
df['Age'].isna().sum()

1032

In [ ]:
df.Age.value_counts()

25-34 years old       32568
18-24 years old       20993
35-44 years old       15183
45-54 years old        5472
Under 18 years old     5376
55-64 years old        1819
Prefer not to say       575
65 years or older       421
Name: Age, dtype: int64

In [ ]:
df.iloc[0:10, 0:10]

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3
7,8,I am a student who is learning to code,"Student, full-time",Malaysia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Online Courses or Certification,4
8,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7

In [ ]:
df.loc[:,['MainBranch']].head()

                                          MainBranch
0                     I am a developer by profession
1             I am a student who is learning to code
2  I am not primarily a developer, but I write co...
3                     I am a developer by profession
4                     I am a developer by profession

In [ ]:
df.loc[:,'MainBranch'].head(20)

0                        I am a developer by profession
1                I am a student who is learning to code
2     I am not primarily a developer, but I write co...
3                        I am a developer by profession
4                        I am a developer by profession
5                I am a student who is learning to code
6                           I code primarily as a hobby
7                I am a student who is learning to code
8                        I am a developer by profession
9                        I am a developer by profession
10                       I am a developer by profession
11                       I am a developer by profession
12                       I am a developer by profession
13               I am a student who is learning to code
14    I used to be a developer by profession, but no...
15               I am a student who is learning to code
16                       I am a developer by profession
17                       I am a developer by profession
18    I am not primarily a developer, but I write co...
19    I used to be a developer by profession, but no...
Name: MainBranch, dtype: object

In [ ]:
type(df.loc[:,['MainBranch']].head())

pandas.core.frame.DataFrame

In [ ]:
type(df.loc[:,'MainBranch'].head())

pandas.core.series.Series

#### Kiválasztás érték alapján

In [ ]:
df[df['MainBranch']=='I am a student who is learning to code'].shape

(12029, 48)

In [ ]:
df.MainBranch.value_counts()

I am a developer by profession                                                   58153
I am a student who is learning to code                                           12029
I am not primarily a developer, but I write code sometimes as part of my work     6578
I code primarily as a hobby                                                       4929
I used to be a developer by profession, but no longer am                          1237
None of these                                                                      513
Name: MainBranch, dtype: int64

In [ ]:
df.Gender.value_counts()

Man                                                                                   74817
Woman                                                                                  4120
Prefer not to say                                                                      1442
Non-binary, genderqueer, or gender non-conforming                                       690
Or, in your own words:                                                                  413
Man;Or, in your own words:                                                              268
Man;Non-binary, genderqueer, or gender non-conforming                                   252
Woman;Non-binary, genderqueer, or gender non-conforming                                 147
Man;Woman                                                                                41
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                 21
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              21
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       17
Woman;Or, in your own words:                                                             16
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:             11
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            9
Man;Woman;Or, in your own words:                                                          1
Name: Gender, dtype: int64

In [ ]:
df[(df['MainBranch']=='I am a student who is learning to code') & (df['Gender']=='Woman')].shape

(864, 48)

In [ ]:
df[df['Gender'].isin(['Woman', 'Non-binary, genderqueer, or gender non-conforming'])].shape

(4810, 48)

In [ ]:
df[~df['Gender'].isin(['Woman', 'Non-binary, genderqueer, or gender non-conforming'])].shape

(78629, 48)

#### Duplázott sorok törlése

In [ ]:
df.drop_duplicates(inplace=True)
df.shape

(83439, 48)

#### Üres értékek sorainak törlése? (Óvatosan, általában nem ajánlott gondolkodás nélkül)

In [ ]:
df = df[~df['Employment'].isna()]

In [ ]:
df.shape

(83323, 48)